:root[data-theme="light"] {
	--nav-color-text: rgb(35 39 47/1);
	--inverse-color: rgb(35 39 47/1);
	--nav-color-text-active: rgb(20 158 202/1);
	--hover-nav-color: rgba(35, 39, 47, 0.05);
	--hover-nav-color-active: rgba(88, 175, 223, 0.1);
	--background-color: white;
	--background-color-section-even: conic-gradient(from -90deg at 110% 100%, #fff 0deg, #ebecf0 90deg, #ebecf0 1turn);
	--background-color-section-odd: conic-gradient(from -90deg at 110% 100%, #fff 0deg, #ebecf0 90deg, #ebecf0 1turn);
	--border-color-section: rgba(35, 39, 47, 0.05);
	--job-name-color: rgb(246 247 249/1);
	--job-name-border-color: rgba(0, 0, 0, 0.05);
	--main-info-job-color: white;
	--border-color-gradient: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, inset 0 0 0 1px rgba(0, 0, 0, 0.08);
	--shadow-color-info-job: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 16px 32px -16px rgba(0, 0, 0, 0.1),
		0 0 0 1px rgba(0, 0, 0, 0.1);
	--second-plan-text: rgb(94 104 126/1);
	--job-name-bgc-color: rgb(246 247 249/1);
}
:root[data-theme="dark"] {
	--nav-color-text: white;
	--inverse-color: rgb(35 39 47/1);
	--nav-color-text-active: rgb(20 158 202/1);
	--hover-nav-color: rgba(255, 255, 255, 0.25);
	--hover-nav-color-active: rgba(88, 175, 223, 0.1);
	--background-color: rgb(35 39 47/1);
	--background-color-section-even: conic-gradient(from 90deg at -10% 100%, #2b303b 0deg, #2b303b 90deg, #16181d 1turn);
	--background-color-section-odd: conic-gradient(from -90deg at 110% 100%, #2b303b 0deg, #16181d 90deg, #16181d 1turn);
	--border-color-section: rgba(35, 39, 47, 0.05);
	--job-name-color: rgb(35 39 47 / 1);
	--job-name-border-color: hsla(0, 0%, 100%, 0.05);
	--main-info-job-color: rgb(22 24 29/1);
	--border-color-gradient: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, inset 0 0 0 1px hsla(0, 0%, 100%, 0.08);
	--shadow-color-info-job: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 16px 32px -16px rgba(0, 0, 0, 0.1),
		0 0 0 1px hsla(0, 0%, 100%, 0.05);
	--second-plan-text: rgb(94 104 126/1);
	--job-name-bgc-color: rgb(35 39 47 / 1);
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	margin: 0;
	background-color: var(--background-color);
	overflow-x: hidden;
}
